body {
    margin: 0;
    font-size: 15px;
    font-family: 'Tajawal', sans-serif !important;
    background-color: #f3f2f2;
}
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.logo{
    color: white;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 2px #333344, 0 0 1em #333333, 0 0 0.01em red;
}
.logo_img{
    height: 50px;
    width: 50px;
}
.headerLink{
    color: white;
}
/* mobile header start */
.mobileNavbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(0, 81, 255, 0.664);
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
    font-weight: 500;
    line-height: 1.2;
}
/* mobile header end */
.navbar{
    display: none;
    margin-bottom: 20px;
}
.buttonLinks{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.226);
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 2px 3px #888888;
}
a{
    color: #333333;
    
}
a:hover{
    color: white;
    text-decoration: none;
}
.main{
    padding-right: 15px;
    padding-left: 15px;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerLink{
    color: white;
}
.mobileFooter{
    color: white;
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 90px;
    background-color: rgb(124, 124, 124)
    }
.footer{
    display: none;
}
.footerLink{
    padding-left: 5px;
    padding-right: 5px;
}
.socialIcons{
    margin-left: 10px;
    width: 25px;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) { 
    body{
        font-size: 25px;
    }
    .main{
        padding-right: 25px;
        padding-left: 25px;
    }


@media (min-width: 992px) {
    body{
        font-size: 20px;
    }
    .mobileNavbar{
        display: none;
    }
    .navbar{
        color: white;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: rgba(0, 81, 255, 0.664);
    }
    .logo_img{
        height: 80px;
        width: 80px;
    }
    .mobileFooter{
        display: none;
    }
    .footer{
        margin-top: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        height: 90px;
        background-color: rgb(124, 124, 124);
        color: white;
    }

}


@media (min-width: 1200px) {
    body{
        background-color: #D9D9D9;
    }
    .logo_img{
        height: 70px;
        width: 70px;
    }
    .main{
        padding-right: 250px;
        padding-left: 250px;
    }   
}