#map {
    width: 100%;
    height: 450px;
    background-color: grey;
    border-radius: 15px;
}
.timeDiv{
    font-size: 20px !important;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    border: .5px solid black;
    border-radius: 10px;
    background-color: rgba(0, 81, 255, 0.664);
}
.timeInfoDiv{
    border-top: .5px solid black;
    border-radius: 10px;
    background-color: rgb(124, 124, 124);
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.weatherDiv{
    color: white;
    text-align: center;
    border: .5px solid black;
    border-radius: 10px;
    background-color: rgba(0, 81, 255, 0.664);
}
.weatherDiv h5{
    font-size: 20px !important;
}
.singleHourDiv{
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    border:1px solid black;
    background-color: rgb(124, 124, 124);
    padding: 2px;
}
.ridesTodayDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rideDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid #333333;
    margin-bottom: 10px;
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .weatherDiv{
        width: 600px;
    }
    .weatherDiv h5{
        font-size: 30px !important;
    }
    .singleHourDiv{
        display: flex;
        flex-direction: column;
        border:1px solid black;
        background-color: rgb(124, 124, 124);
        padding: 2px;
    }
    #map {
        width: 650px;
        height: 650px;
        background-color: grey;
        border-radius: 15px;
    }   
}