{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/hostaride.css' %}">
<script src="{% static 'girodm/js/hostaride.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
    type="text/javascript"></script>
{% endblock %}
{% block title %}
Host a Ride - GiroDM
{% endblock %}
{% block content %}
<div id="map">

</div>
{% for message in messages%}
<p>{{message}}</p>
{% endfor %}

<form class="form" action="{% url 'girodm:createride' %}" method="post">
    {% csrf_token %}

    <label>Ride name: <input type="text" name="rideName" value="" placeholder="Ride name" /></label>

    <label>Host by: <input type="text" name="hostName" value="{{ request.user.first_name }}"
            placeholder="{{ request.user.first_name }}"></label>

    <label>Type:
        <label class="radio"><input type="radio" name="type" value="ep"> Social (18/21+) Ride </label>
        <label class="radio"><input type="radio" name="type" value="ff" checked> Family Friendly </label>
        <label class="radio"> <input type="radio" name="type" value="tp"> Training Ride </label>
        <label class="radio"><input type="radio" name="type" value="sp"> Special Ride </label>
    </label>

    <label>Pace/Distance:
        <label class="radio"><input type="radio" name="pace" value="sl"> 3-8 mph </label>
        <label class="radio"><input type="radio" name="pace" value="md" checked> 9-12 mph </label>
        <label class="radio"> <input type="radio" name="pace" value="fs"> 13-17 mph </label>
        <label class="radio"><input type="radio" name="pace" value="tf"> 18+ mph </label>
    </label>

    <div id="locationField">
        <input type="text" id="autocompleteStart" name="startLocation" value="" placeholder="Starting location">
        <input type="hidden" id="autoCompleteLatStart" name="startLat" value="">
        <input type="hidden" id="autoCompleteLngStart" name="startLng" value="">
        <input type="text" id="autocompleteEnd" name="endLocation" value="" placeholder="Ending location">
        <input type="hidden" id="autoCompleteLatEnd" name="endLat" value="">
        <input type="hidden" id="autoCompleteLngEnd" name="endLng" value="">
    </div>

    <label>Start date:<input type="date" name="startDate" value="" placeholder="Starting date"></label>

    <label>Start time:<input type="time" name="startTime" value="" placeholder="Start time"></label>

    <label>End date:<input type="date" name="endDate" value="" placeholder="Ending time"></label>

    <label>End time:<input type="time" name="endTime" value="" placeholder="End time"></label>

    <label>
        <label class="radio"><input type="radio" name="privacy" value="False" checked>Public event</label>
        <label class="radio"><input type="radio" name="privacy" value="True"> Private event</label>
    </label>

    <label>
        <label class="radio"><input type="radio" name="privacy" value="False" checked>Public event</label>
        <label class="radio"><input type="radio" name="privacy" value="True"> Private event</label>
    </label>

    <textarea name="comments" value="" placeholder="Additional comments"></textarea>

    <div class="g-recaptcha" data-sitekey="6LeVHqwZAAAAALjMdMK_fV7Aq9F5l5ETRv5E64kf"></div>

    <button type="submit">Host your ride</button>

    <a href="{% url 'girodm:user' %}">Cancel</a>

</form>

{% endblock %}