<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host a Ride - GiroDM</title>
</head>

<body>

    <div class="main">
        <form class="form" action="{% url 'girodm:createride' %}" method="post">
            {% csrf_token %}
            <input type="text" name="rideName" value="" placeholder="Ride name" />
            <input type="text" name="hostName" value="" placeholder="Your name">
            <label class="radio">
                <input type="radio" name="pace" value="ep" checked>
                Social Ride
            </label>
            <label class="radio">
                <input type="radio" name="pace" value="ff">
                Family Friendly
            </label>
            <label class="radio">
                <input type="radio" name="pace" value="tp">
                Training Ride
            </label>
            <input type="text" name="startLocation" value="" placeholder="Starting location">
            <input type="text" name="endLocation" value="" placeholder="Ending location">
            <input type="text" name="startTime" value="" placeholder="Starting time">
            <input type="text" name="endTime" value="" placeholder="Ending time">
            <label class="radio">
                <input type="radio" name="private" value="public" checked>
                Public event
            </label>
            <label class="radio">
                <input type="radio" name="private" value="private">
                Private event
            </label>
            <textarea name="comments" value="">Additional comments: "will be a hot one, bring plenty of water and snacks"
            </textarea>
            <div class="g-recaptcha" data-sitekey="6LeVHqwZAAAAALjMdMK_fV7Aq9F5l5ETRv5E64kf
        "></div>
            <button type="submit">Host your ride</button>
        </form>
    </div>
    <script>
    </script>
</body>

</html>