{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/index.css' %}">
<script src="{% static 'girodm/js/index.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
{% endblock %}

{% block title %}
 Giro Della Mappa - GiroDM
{% endblock %}


{% block content %}
<div class="locationFieldDiv" id="locationField">
  <input id="autocomplete" placeholder="Enter your address" type="text" />
</div>
<div class="mapDiv">
  <h2> here are some on going rides today</h2>
    <div id="map">

    </div>
</div>
<div class="aboutUs">
<img class="aboutUsImage">
<p>With the intent of promoting a healthy and safe habit of cycling and a dash of socialization. Whether you wear spandex and riding a multi-thousand dollar bike or just borrowing a friend's beach cruiser to meetup with friends and ride we hope you Ride the Map.</p>
</div>
{% endblock %}