{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/login.css' %}">
<script src="{% static 'girodm/js/login.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block title %}
 Login - GiroDM
{% endblock %}

{% block content %}

<h1>Login</h1>
    {% for message in messages%}
        <p>{{message}}</p>
    {% endfor %}
    <form action="{% url 'girodm:login' %}" method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" value="" placeholder="username">
        <input type="password" name="password" value="" placeholder="password">
    
        <button type="submit">Login</button>
    </form>
    <button href="{% url 'girodm:register' %}">Register</button>
</div>
{% endblock %}