<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <style>
    body{
    background-color: rgba(255, 0, 0, 0.616);
    text-align: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: green;
    }
        .form_input{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - GiroDM</title>
</head>

<body>
    <div class="main">
        <h1> Register here </h1>
        <form method="POST" action="">
            {% csrf_token %}

            <form class="form_input">
                {{form.username.label}}
                {{form.username}}
                {{form.first_name.label}}
                {{form.first_name}}
                {{form.email.label}}
                {{form.email}}

                {{form.password1.label}}
                {{form.password1}}
                {{form.password2.label}}
                {{form.password2}}

                <input type="submit" name="Create User">
            </form>
            
            <p>Already have a login? <a href="{% url 'girodm:login' %}">Login here</a>
            {{form.errors}}
        </form>
    </div>
    <script>
    </script>
</body>

</html>