{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/ride.css' %}">
<script src="{% static 'girodm/js/ride.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
{% endblock %}
{% block title %}
{{ride.ride_name}} - GiroDM
{% endblock %}
{% block content %}
<div class="ride_div">
  <h1>{{ride.ride_name}}</h1>
  <p>Hosted by: {{ride.host_name}}</p>
  <p>Pace: {{ride.get_ride_pace_display}}</p>
  <p>Type: {{ride.get_ride_type_display}}</p>
  <p>Start location: {{ride.start_location}}</p>
  <p>Start time: {{ride.start_time}}</p>
  <p>Ending location: {{ride.end_location}}</p>
  <p>Estimated ending time: {{ride.end_time}}</p>
  <p>Is a private event: {{ride.private}}</p>
  <p>Share: <a href="http://localhost:8000/ride/{{ride.code}}/">http://localhost:8000/ride/{{ride.code}}/</a></p>
  <p>Additional information: {{ride.comments}}</p>
</div>

<div id="map">

</div>

{% endblock %}