{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/user.css' %}">
<script src="{% static 'girodm/js/user.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
{% endblock %}
{% block title %}
 {{request.user}} - GiroDM
{% endblock %}
{% block content %}
<h3>Hello, {{request.user.first_name}} </h3>

        <a href="{% url 'girodm:host' %}">Host a ride</a>
        <a href="{% url 'girodm:viewrides' %}">view currents rides</a>

        <h3>You're the host of these rides:</h3>
        {% for ride in rides %}
        <a href="{% url "girodm:detail" ride.code %}">{{ride.ride_name}}</a> 
        <a href="{% url "girodm:editridepage" ride.code %}">Edit</a>
        <a href="{% url "girodm:deleteride" ride.code %}">Delete</a>
        <br/>
        {% endfor %}
{% endblock %}

