{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/viewrides.css' %}">
<script src="{% static 'girodm/js/viewrides.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
{% endblock %}
{% block title %}
 View Rides - GiroDM
{% endblock %}
{% block content %}
    {% if not request.user.is_authenticated %}
    <a href="{% url "girodm:register" %}">Register to host a Ride</a>
    {% endif %}
    
    <h1>current rides:</h1>
    {% if request.user.is_authenticated %}
    <a href="{% url "girodm:host" %}">Host a Ride</a>
    {% endif %}
     {% for ride in rides%}
     {% comment %} random code queries to find right url {% endcomment %}
        <a href="{% url "girodm:detail" ride.code %}" >{{ride.ride_name}}</a>
    {% endfor %}
    <div id="map">
    </div>
    </div>
{% endblock %}