{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/viewrides.css' %}">
<script src="{% static 'girodm/js/viewrides.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
{% endblock %}
{% block title %}
 View Rides - GiroDM
{% endblock %}
{% block content %}
    <h1>current rides:</h1>
     {% for ride in rides%}
     {% comment %} random code queries to find right url {% endcomment %}
        <a href="{% url "girodm:detail" ride.code %}" >{{ride.ride_name}}</a>
    {% endfor %}
    </div>
{% endblock %}

    