{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<style>
.errorDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
{% endblock %}

{% block title %}
 404, Sorry about that! - PDX Ride Map
{% endblock %}


{% block content %}
<div class="errorDiv">
  <div>
  <h3>404 Error<h3>
  </div>
  <div>
  <h2>Woops, not sure what happened!</h2> <a href="{% url 'girodm:index' %}" class="logo" > <h2> Giro della Mappa</h2></a> 
  </div>
</div>
{% endblock %}