{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/about.css' %}">
<script src="{% static 'girodm/js/about.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
{% endblock %}

{% block title %}
 Giro Della Mappa - Our mission
{% endblock %}

{% block content %}
<h3> Explore new places </h3>
<div class="aboutUs">

<img title="Ride the Rim: An annual event" class="aboutImages" src="{% static 'girodm/images/ridetherim.jpg' %}">
<p>With the intent of promoting a healthy habit, a safe environment and a dash of socialization, Giro della Mappa, or GiroDM for short, helps you explore the city in ways you've never seen it before, meet new friends, connect with old ones or hold a private ride for you and your closest of friends.</p>
</div>
<div class="aboutUs">
    <p>Whether you wear lycra and are riding a multi-thousand dollar bike to victory or just borrowing a friend's beach cruiser to catch a ride that just popped up this evening we hope you enjoy the ride.</p>
    <img class="aboutImages" src="{% static 'girodm/images/relaxing.jpg' %}">
</div>
<br/>
<img title="TNR, a weekly ride in Portland, Oregon" class="aboutImages" src="{% static 'girodm/images/tnr.jpg' %}">
<br/>
<img title="Teal Bike Ride: a 2018 Pedalpalooza event" class="aboutImages" src="{% static 'girodm/images/tealbikesquad.jpg' %}">

<div class="reportBug"
<h2> To report bug please email a brief description of your issue with screenshots if possible to nick@nickgallo.dev. <br/>
Happy trails,
- Nick 
</h2>
</div>

{% endblock %}