{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/editride.css' %}">
<script src="{% static 'girodm/js/editride.js' %}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
    type="text/javascript"></script>
{% endblock %}

{% block title %}
{{ride.ride_name}} - PDX Ride Map
{% endblock %}

{% block content %}



<form class="form" action="{% url 'girodm:editride' ride.code %}" method="post">
    {% csrf_token %}

    <label>Ride name: <input type="text" name="rideName" value="{{ride.ride_name}}"
            placeholder="{{ride.ride_name}}" /></label>

    <label>Hosted by: <input type="text" name="hostName" value="{{ request.user.first_name }}"
            placeholder="{{ request.user.first_name }}"></label>
    <label>Type:
        <label class="radio"><input type="radio" name="type" value="ep" {% if ride.ride_type == "ep" %} checked
                {% endif %}> Social (18/21+) Ride </label>
        <label class="radio"><input type="radio" name="type" value="ff" {% if ride.ride_type == "ff" %} checked
                {% endif %}> Family Friendly </label>
        <label class="radio"> <input type="radio" name="type" value="tp" {% if ride.ride_type == "tp" %} checked
                {% endif %}> Training Ride </label>
        <label class="radio"><input type="radio" name="type" value="sp" {% if ride.ride_type == "sp" %} checked
                {% endif %}> Special Ride </label>
    </label>
    <label>Distance:
        <label class="radio"><input type="radio" name="pace" value="sl" {% if ride.ride_pace == "sl" %} checked
            {% endif %} > 3-8 miles </label>
        <label class="radio"><input type="radio" name="pace" value="md" {% if ride.ride_pace == "md" %} checked
            {% endif %}> 9-12 miles </label>
        <label class="radio"> <input type="radio" name="pace" value="fs" {% if ride.ride_pace == "fs" %} checked
            {% endif %} > 13-17 miles </label>
        <label class="radio"><input type="radio" name="pace" value="tf" {% if ride.ride_pace == "tf" %} checked
            {% endif %}> 18+ miles </label>
    </label>

    <div id="locationField">
        <label>Starting location: <input type="text" name="startLocation" id="autocompleteStart"
                value="{{ ride.start_location }}" placeholder="{{ ride.start_location }}"></label>
        <input type="hidden" id="autoCompleteLatStart" name="startLat" value="{{ ride.start_lat }}">
        <input type="hidden" id="autoCompleteLngStart" name="startLng" value="{{ ride.start_long }}">
        <div id="startMap">

        </div>
        <label>Ending location: <input type="text" name="endLocation" id="autocompleteEnd"
                value="{{ ride.end_location }}n" placeholder="{{ ride.end_location }}"></label>
        <input type="hidden" id="autoCompleteLatEnd" name="endLat" value="{{ ride.end_lat }}">
        <input type="hidden" id="autoCompleteLngEnd" name="endLng" value="{{ ride.end_long }}">
    </div>
    <div id="endMap">

        </div>
    <label>Start date:<input type="date" name="startDate" value="{{ride.start_time|date:"Y-m-d"}}"
            placeholder="Starting date"></label>

    <label>Start time:<input type="time" name="startTime" value="{{ride.start_time|date:"H:m"}}"
            placeholder="Start time"></label>

    <label>End date:<input type="date" name="endDate" value="{{ride.end_time|date:"Y-m-d"}}"
            placeholder="Ending time"></label>

    <label>End time:<input type="time" name="endTime" value="{{ride.end_time|date:"H:m"}}"
            placeholder="End time"></label>

    <label>
        <label class="radio"><input type="radio" name="private" value="False" {% if ride.private == False %} checked
                {% endif %}>Public event</label>
        <label class="radio"><input type="radio" name="private" value="True" {% if ride.private == True %} checked
                {% endif %}> Private event</label>
    </label>

    <textarea name="comments">{{ride.comments}}</textarea>

    <div class="g-recaptcha" data-sitekey="6LeVHqwZAAAAALjMdMK_fV7Aq9F5l5ETRv5E64kf"></div>

    <button class="buttonLinks" type="submit">Save changes</button>

    <a class="buttonLinks" href="{% url 'girodm:user' %}">Cancel</a>

</form>
<div id="map">

</div>
{% endblock %}