{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/index.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
{% endblock %}

{% block title %}
 Giro Della Mappa - Home
{% endblock %}


{% block content %}

<div class="timeDiv">
<h5>Current time:</h5>
<h6 class="time_div" id="time"></h6>
<div class="sunsetDiv">Sun setting at <span id="sunset"></span> today.</div>
</div>

<div id="weatherDiv" class="weatherDiv">
<h5>Twelve Hour Forecast:</h5>
</div>

<div class="ridesTodayDiv">
  <h4>Rides today in your area:</h4>
  {% if rides|length_is:"0"%}
    <p>There are no rides today =[. You should consider hosting one!</p>
  {% endif %}
  {% for ride in rides%}

    <div class="rideDiv">
    <h3><a href="{% url "girodm:detail" ride.code %}">{{ride.ride_name}}</a></h3>
    <h6>Starts at {{ride.start_time|date:"h:i A"}}</h6>
    </div>
    {% endfor %}
    <a class="mobileLink" href="{% url 'girodm:viewrides' %}">Upcoming Rides</a>
</div>
<div id="map">

</div>
<script>
function addWeather(hour){

    let time = hour.dt
    let hoursToDisplay = moment(time * 1000).format("MMMM Do, h:mm a")
    let hourP = document.createElement("p");
    let hoursText = document.createTextNode(`${hoursToDisplay}`)
    hourP.appendChild(hoursText)
    let weatherDiv = document.getElementById("weatherDiv")
    weatherDiv.appendChild(hourP)

    let temperature = hour.temp
    let tempP = document.createElement("p")
    tempP.setAttribute('class', 'temperatureDiv')
    let tempText = document.createTextNode(`Temperature: ${temperature}°`)
    tempP.appendChild(tempText)
    weatherDiv.appendChild(tempP)
    
    let icon = hour.weather[0].icon
    let iconUrl = `https://openweathermap.org/img/wn/${icon}.png`
    let iconImage = document.createElement("img")
    iconImage.setAttribute("src", iconUrl)
    
    let description = hour.weather[0].description
    let descriptionP = document.createElement("p")
    let descriptionText = document.createTextNode(`Likely ${description}`)
    descriptionP.appendChild(descriptionText)
    descriptionP.appendChild(iconImage)
    weatherDiv.appendChild(descriptionP)
                 
    console.log(hour)
 
}
    navigator.geolocation.getCurrentPosition(position => {
        let user_latitude = position.coords.latitude
        let user_longitude = position.coords.longitude
        axios({
            method: 'post',
            url: `https://api.openweathermap.org/data/2.5/onecall?lat=${user_latitude}&lon=${user_longitude}&exclude=&units=imperial&appid={{weather_api_key}}`,  
        }).then((response) => {
            console.log(response)
            let hourlyForecast = response.data.hourly
            let sunSetResponse = response.data.current.sunset
            let sunset = moment(sunSetResponse * 1000).format("h:mm a")
            sunsetDiv = document.getElementById("sunset")
            sunsetDiv.innerHTML = sunset
            for(i=0; i < 11; i++){
                let hour = hourlyForecast[i]
                addWeather(hour)
            }
        })
    })
</script>
<script src="{% static 'girodm/js/index.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
{% endblock %}