{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/marketplace.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
{% endblock %}

{% block title %}
Giro Della Mappa - Marketplace
{% endblock %}


{% block content %}
<div class="itemDiv">
    <div class="bikeMountDiv">
    <h2>Fork Mounted Bike Light</h2>
    <hr>
    <h5>Starting at $5 + shipping</h5>
    <a href="{% url 'girodm:mount' %}"><img class="mountImg" src="{% static 'girodm/images/mount2.jpg' %}"></a>
    <hr>
    <a style="color: whitesmoke; 
              text-decoration: underline;"
       href="{% url 'girodm:mount' %}">Buy Now!</a>
    <hr>

    <div class="cleanerDiv">
      <h2>Mini Chain Cleaner</h2>
      <hr>
      <h5>$12 + shipping</h5>
      <a href="{% url 'girodm:cleaner' %}"><img class="mountImg" src="{% static 'girodm/images/cleaner2.jpg' %}"></a>
      <hr>
      <a style="color: whitesmoke; 
                text-decoration: underline;"
        href="{% url 'girodm:cleaner' %}">Buy Now!</a>
      <hr>
    </div>
</div>
{% endblock content %}