{% extends 'girodm/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'girodm/css/viewrides.css' %}">
<script src="{% static 'girodm/js/viewrides.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
  type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
{% endblock %}
{% block title %}
 View Rides - GiroDM
{% endblock %}
{% block content %}
    {% comment %} <a href="{% url "girodm:calendar" %}">calendar view</a>
    <div class="registerDiv"> {% endcomment %}
    {% if request.user.is_authenticated %}
    <a href="{% url "girodm:host" %}">Host a Ride</a>
    <br/>
    <a href="{% url 'girodm:user' %}">{{request.user.first_name}}'s home page</a>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <a href="{% url "girodm:register" %}">Register to host a Ride</a> 
    <br/>
    <a href="{% url "girodm:login" %}">Login to host a Ride</a>
    {% endif %}
    </div>
    <h1>Current Rides:</h1>
    
     {% for ride in rides%}
     {% comment %} random code queries to find right url {% endcomment %}
     <div class="rideDiv">
        <a href="{% url "girodm:detail" ride.code %}" >{{ride.ride_name}}</a><p>Starting on {{ride.start_time}}</p>
      </div>
    {% endfor %}
    <div id="map">
    </div>
    </div>

{% endblock %}