body {
    margin: 0;
    background-color: rgba(255, 66, 66, 0.726), !important;
}
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* mobile header start */
.mobileNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(0, 255, 21, 0.479);
    margin-bottom: 10px;
}

/* mobile header end */
.navbar{
    display: none !important;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: green;
}

.footer{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 75px;
    background-color: rgba(0, 255, 21, 0.479);
}
.footerLink{
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 576px) {
    body{
       background: rebeccapurple;
    }
    
}

@media (min-width: 768px) { 
    body{
        background-color: blue;
    }
    .mobileNavbar{
        display: none;
    }
    .navbar{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: rgba(0, 255, 21, 0.479);
    }
}


@media (min-width: 992px) { 
    body{
        background-color: red;
    }
}


@media (min-width: 1200px) {
    body{
        background-color: rgba(245, 3, 3, 0.219);
    }   
}