.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#map {
    width: 350px;
    height: 400px;
    background-color: grey;
    border-radius: 15px;
}